__pycache__/agents.cpython-312.pyc
__pycache__/parameters.cpython-312.pyc
__pycache__/functions.cpython-312.pyc
.DS_Store
__pycache__/main.cpython-312.pyc
export/data.csv
export/network_graph.gexf
graphs/ER_2D_Plot_No_1.png
graphs/ER_3D_Plot_No_1.png
graphs/ER_3D_Plot_No_2.png
